<h1>Formulario de producto</h1>

<form action="/products/new" method="post">
  <div>
    <label for="titulo">Nombre:</label>
    <input type="text" id="titulo" name="titulo" placeholder="Write the name..." value="{{this.newProduct.titulo}}"/>
    {{#if this.errors.titulo}}
      <span>{{this.errors.titulo}}</span>
    {{/if}}
  </div>
  <div>
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" placeholder="Write the price..." value="{{this.newProduct.precio}}" />
    {{#if this.errors.precio}}
      <span>{{this.errors.precio}}</span>
    {{/if}}
  </div>
  <div>
    <label for="descripcion">Descripción:</label>
    <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Write the description...">{{this.newProduct.descripcion}}</textarea>
    {{#if this.errors.descripcion}}
      <span>{{this.errors.descripcion}}</span>
    {{/if}}
  </div>
  <button type="submit">Enviar</button>
</form>